.chat {
  flex: 0.7;
  flex-grow: 1;
  position: relative;
  overflow-y: scroll;
  padding-bottom: 150px;
  /* background-color: blueviolet; */
}

.chat__header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 49px;
  padding: 0 20px 0 16px;
  border-bottom: 1px solid lightgray;
  background: #fff;
  z-index: 5;
}

.chat__sidebar-menu--icon-container {
  cursor: pointer;
}

.chat__sidebar-menu--icon {
  margin-right: 15px;
}

.chat__channel--name {
  display: flex;
  text-transform: lowercase;
  font-size: 18px;
  font-weight: 900;
}

.chat__channel-name > .MuiSvgIcon-root {
  margin-left: 10px;
  font-size: 18px;
}

.chat__header__avatar-stack-container {
  height: 28px;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.chat__header__avatar-stack--avatar {
  width: 22px !important;
  height: 22px !important;
  border-radius: 5px !important;
}

.chat__header__avatar-stack--user-count {
  padding: 0 8px;
  font-size: 13px;
  font-weight: 700;
  color: #888;
}

.chat__message-editor-block {
  /* background-color: blue; */
}

.chat__message-block {
  /* background-color: brown; */
}

.chat__messages {
  margin-top: 26px;
}

.message-list__day-divider {
  display: inline-block;
  width: 100%;
  background: transparent;
  position: relative;
  user-select: text;
}

.message-list__day-divider__line {
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid rgba(221, 221, 221, 1);
  color: rgba(29, 28, 29, 1);
  position: relative;
}
.message-list__day-divider__label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  height: 28px;
  max-width: 250px;
  min-width: 0;
  line-height: 27px;
  z-index: 2;
  pointer-events: all;
  text-align: center;
  margin: 0 auto;
  transform: translateY(-15px);
  border-radius: 16px;
  border: 2px solid rgba(221, 221, 221, 1);
  background: #fff;
}

.chat__editor {
  position: fixed;
  bottom: 0;
  left: 270px;
  right: 10px;
  width: calc(100vw - 300px);
  background: #fff;
  margin-bottom: 24px;
  /* background-color: aqua; */
}

@media only screen and (max-width: 1079px) {
  .chat__editor {
    left: 230px;
    width: calc(100vw - 260px);
  }
}

@media only screen and (max-width: 859px) {
  .chat__editor {
    left: 210px;
    width: calc(100vw - 240px);
  }
}

@media only screen and (max-width: 565px) {
  .chat__editor {
    left: 10px;
    width: calc(100vw - 34px);
  }
}
