.message {
  display: flex;
  align-items: flex-start;
  padding: 0 20px;
}

.message__user--image-field {
  height: 36px;
  width: 36px;
}
.message__user--image {
  height: 36px;
  width: 36px;
  object-fit: contain;
  border-radius: 4px;
  cursor: pointer;
}

.message__info {
  padding-left: 10px;
}

.message__info--top {
  height: 22px;
}

.message__user--name {
  font-size: 15px;
  font-weight: 700;
  color: rgba(29, 28, 29, 1);
}

.message__timestamp {
  font-weight: 300;
  font-size: 12px;
  margin-left: 10px;
  color: gray;
}

.message__output {
  font-size: 15px;
  line-height: 1.45;
}
