.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  height: 38px;
  padding: 5px 16px;
  color: #ffffff;
  background-color: var(--header-bgColor);
  box-shadow: 0 1px 0 0 rgb(255 255 255 / 10%);
}

.header__left {
  display: flex;
  flex: 1;
  flex-grow: 0;
  justify-content: flex-end;
  align-items: center;
  min-width: 260px;
  padding-left: 16px;
  padding-right: 20px;
}

.header__left--history {
  width: 20px !important;
  height: 20px !important;
}

.header__search {
  display: flex;
  flex: 2;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-width: 0;
  max-width: 732;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.header__search--input {
  min-width: 0;
  width: 100%;
  height: 24px;
  line-height: 23px;
  margin: 0;
  padding: 0 8px;
  text-align: initial;
  vertical-align: initial;
  overflow: initial;
  font-size: 13px;
  color: #ffffff;
  opacity: 0.8;
  background-color: transparent;
  border: 0;
}

.header__search--icon {
  width: 18px !important;
  height: 18px !important;
  margin-right: 10px;
}

.header__right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  padding-left: 32px;
}

.header__right--help {
  width: 20px !important;
  height: 20px !important;
  margin-right: 10px;
}

.header__right--avatar {
  position: relative;
}

.header__right--avatar-photo {
  border-radius: 4px !important;
}

.header__right--avatar-status {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 20px !important;
  color: green;
  transform: translate(30%, 30%);
}

.header__right--logout {
  width: 60px;
  margin-right: 10px;
  font-size: 0.9rem;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .header__left {
    min-width: 0;
  }
  .header__right {
    flex: 0;
  }
}

.header__user-menu {
  margin-top: 5px;
  font-size: 15px;
  padding: 12px 0;
  color: var(--menu-textColor);
  /* background: rgba(248, 248, 248, 1); */
}

.header__user-menu--item {
  width: 300px;
  height: 28px;
  padding: 0 24px !important;
  outline: none;
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.header__user-menu--item:hover {
  background: rgb(18, 100, 163);
  color: #ffffff;
}

.header__user-menu--item.user-item {
  padding: 8px 20px 12px 24px;
  display: flex;
  height: 60px;
  cursor: default;
}
.header__user-menu--item.user-item:hover {
  background-color: transparent;
  color: inherit;
}

.header__user-menu--user-info {
  margin-left: 10px;
  line-height: 18px;
}

.header__user-menu--user-info > span {
  display: block;
  font-size: 15px;
}

.header__user-menu--user-info > span:nth-child(1) {
  font-weight: bold;
}

.header__user-menu--user-info > span:nth-child(2) {
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
}

.header__user-menu--item.user-status {
  height: 44px;
  cursor: default;
}

.header__user-menu--item.user-status:hover {
  background-color: transparent;
  color: inherit;
}

.header__user-menu--status-item {
  width: 100%;
  height: 36px;
  padding: 7px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  color: #999;
  cursor: pointer;
}

.header__user-menu--status-item:hover {
  color: #333;
}

.header__user-menu--status-item > span {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
