.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  height: 38px;
  padding: 5px 16px;
  color: #ffffff;
  background-color: var(--header-bgColor);
  box-shadow: 0 1px 0 0 rgb(255 255 255 / 10%);
}

.header__left {
  display: flex;
  flex: 1;
  flex-grow: 0;
  justify-content: flex-end;
  align-items: center;
  min-width: 260px;
  padding-left: 16px;
  padding-right: 20px;
}

.header__left--history {
  width: 20px !important;
  height: 20px !important;
}

.header__search {
  display: flex;
  flex: 2;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-width: 0;
  max-width: 732;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.header__search--input {
  min-width: 0;
  width: 100%;
  height: 24px;
  line-height: 23px;
  margin: 0;
  padding: 0 8px;
  text-align: initial;
  vertical-align: initial;
  overflow: initial;
  font-size: 13px;
  color: #ffffff;
  opacity: 0.8;
  background-color: transparent;
  border: 0;
}

.header__search--icon {
  width: 18px !important;
  height: 18px !important;
  margin-right: 10px;
}

.header__right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  padding-left: 32px;
}

.header__right--help {
  width: 20px !important;
  height: 20px !important;
  margin-right: 10px;
}

.header__right--avatar {
  position: relative;
}

.header__right--avatar-photo {
  border-radius: 4px !important;
}

.header__right--avatar-status {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 20px !important;
  color: green;
  transform: translate(30%, 30%);
}

.header__right--logout {
  width: 60px;
  margin-right: 10px;
  font-size: 0.9rem;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .header__left {
    min-width: 0;
  }
  .header__right {
    flex: 0;
  }
}
