.sidebar {
  flex: 0.3;
  background: var(--sidebar-bgColor);
  color: white;
  border-top: 1px solid #49274b;
  max-width: 260px;
}

.sidebar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #49274b;
  padding-bottom: 10px;
  padding: 8px 16px;
}

.sidebar__header:hover {
  background: var(--header-bgColor);
  border-color: rgb(82, 38, 83);
  cursor: pointer;
}

.sidebar__info {
  flex: 1;
}

.sidebar__info-team-name {
  display: flex;
  align-items: center;
}

.sidebar__info-team-name > .MuiSvgIcon-root {
  align-self: flex-start;
}

.sidebar__info > div > span {
  display: inline-block;
  font-weight: 900;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 18px;
  margin-bottom: 5px;
}

.sidebar__info > h3 {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
}

.sidebar__header > .MuiSvgIcon-root {
  font-size: 34px;
  padding: 8px;
  color: #49274b;
  background-color: white;
  border-radius: 999px;
}

.sidebar__collapse-button {
  /* background-color: transparent; */
  width: 100%;
  background-color: transparent;
  border: 0;
  color: #ffffff;
  padding: 0;
  margin: 0;
}
