.sidebar {
  flex: 0.3;
  max-width: 260px;
  color: white;
  background: var(--sidebar-bgColor);
  border-top: 1px solid #49274b;
  z-index: 20;
}

.sidebar.hidden {
  display: none;
  transition: display linear 0.5s;
}

.sidebar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px 10px;
  border-bottom: 1px solid #49274b;
}

.sidebar__header:hover {
  cursor: pointer;
  background: var(--header-bgColor);
  border-color: rgb(82, 38, 83);
}

.sidebar__info {
  flex: 1;
}

.sidebar__info--left {
  display: flex;
  align-items: center;
}

.sidebar__info--expand-icon {
  align-self: flex-start;
}

.sidebar__info--team-name {
  display: inline-block;
  font-weight: 900;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 18px;
  margin-bottom: 5px;
}

.sidebar__info--username {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
}

.sidebar__header--new-message {
  font-size: 34px !important;
  padding: 8px;
  color: #49274b;
  background-color: white;
  border-radius: 999px;
}

.sidebar__collapse--button {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  color: #ffffff;
  background-color: transparent;
}
