.sidebarOption {
  display: flex;
  align-items: center;
  height: 28px;
  line-height: 28px;
  font-size: 13px;
  padding: 0 16px;
  cursor: pointer;
  user-select: none;
  color: var(--sidebar-textColor);
}

.sidebarOption:not(.sidebar__group):hover {
  background-color: #340e36;
}

.sidebarOption__icon {
  font-size: 18px !important;
  margin-left: 14px;
  color: #ffffff;
}

.sidebarOption__channel {
  padding: 10px 0;
  margin-left: 10px;
}

.sidebarOption__hash {
  padding: 10px;
}

.sidebarOption__title {
  font-weight: 400;
}

.sidebar__group {
  display: flex;
  align-items: center;
  height: 36px;
  width: 100%;
  line-height: 36px;
}

.sidebar__group:hover {
  color: #ffffff;
}

.sidebar__group > .sidebarOption__title {
  margin-left: 10px;
}

.sidebar__group > .sidebarOption__icon {
  margin-left: 0;
}

.sidebarOption:not(.sidebar__group) .sidebarOption__icon {
  margin-right: 10px;
}
